html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
}

.container-main {
  width: 320px;
  margin: 0 auto;
}

h3,
h2,
h1,
p {
  margin: 0;
}

input::placeholder {
  color: @color-font-2;
}

@media (min-width: @tablet-width) {
  .container-main {
    width: 768px;
  }

  .feedback {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  body {
    min-width: 1200px;
    background-color: @background-color-4;
  }

  .container-main {
    width: 1200px;
    background-color: @background-color-2;
  }

  .feedback {
    margin: 0 120px;
  }

  .feedback__slogan {
    width: 440px;
    margin: 0 auto;
  }
}
