@color-font-1: #fff;
@color-font-2: #000;
@color-font-3: #333;
@background-color-1: #81b3d2;
@background-color-2: #fff;
@background-color-3: #eeeeee;
@background-color-4: #f2f2f2;
@background-color-5: #e6e6e6;
@background-color-6: #333;
