@color-font-1: #ffffff;
@color-font-2: #000000;
@color-font-3: #333333;
@background-color-1: #81b3d2;
@background-color-2: #ffffff;
@background-color-3: #eeeeee;
@background-color-4: #f2f2f2;
@background-color-5: #e6e6e6;
@background-color-6: #333333;
@background-color-7: #dbdbdb;
@background-color-8: #000000;
@tablet-width: 768px;
@desktop-width: 1200px;
