.advantages {
  background-color: @background-color-2;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 20px 20px;
}

.advantages__block {
  text-align: left;
  padding-left: 8px;
  padding-top: 12px;
  padding-bottom: 16px;
}

.advantages__item {
  display: flex;
}

.advantages__title {
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
  }

  .advantages__block {
    text-align: center;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
