.booking {
  background-color: @background-color-2;
}

.booking__find-hotels {
  background-color: @background-color-1;
  margin-top: 43px;
  margin-bottom: 50px;
}

.booking__find-hotels a {
  color: @color-font-1;
}

.booking__title {
  padding-top: 27px;
  padding-bottom: 21px;
}

.booking__slogan {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: @desktop-width) {
  .booking__slogan {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
