.booking {
  background-color: @background-color-2;
}

.booking__find-hotels {
  background-color: @background-color-1;
  margin-top: 43px;
  margin-bottom: 50px;
}

.booking__find-hotels:hover {
  background-color: @background-color-9;
}

.booking__find-hotels:active {
  background-color: @background-color-10;

  a {
    color: rgba(255, 255, 255, 0.3);
  }
}

.booking__find-hotels a {
  color: @color-font-1;
}

.booking__title {
  padding-top: 27px;
  padding-bottom: 21px;
}

.booking__slogan {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: @tablet-width) {
  .booking__title {
    padding-top: 76px;
    padding-bottom: 32px;
    font-size: 30px;
  }

  .booking__slogan {
    width: 448px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .booking__find-hotels {
    margin-top: 46px;
    margin-bottom: 62px;
  }
}

@media (min-width: @desktop-width) {
  .booking__slogan {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
  }

  .booking__title {
    padding-top: 57px;
  }

  .booking__find-hotels {
    margin-top: 51px;
    margin-bottom: 69px;
  }
}
