.page-footer {
  background-color: @background-color-2;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0 3px;
  width: 46px;
  height: 48px;
  background-color: @background-color-1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  margin-right: 10px;
}

.hashtag {
  margin-top: 33px;
  margin-bottom: 37px;
}

.hashtag__link {
  text-decoration: none;
}

.social {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .social {
    margin-bottom: 0;
  }

  .page-footer__hashtag {
    margin-top: 0;
    margin-bottom: 0;
  }
}
