.page-main__photo {
  background: url("../img/bg-back-mobile@1x.jpg") center top no-repeat #e5b29e;
  min-height: 390px;
  position: relative;
  margin-bottom: 46px;

  &--cut {
    background: url("../img/bg-back-mobile@1x.jpg") center bottom no-repeat #e5b29e;
    min-height: 158px;
  }
}

@media (min-width: @tablet-width) {
  .page-main__photo {
    background: url("../img/bg-back-mobile@1x.jpg") center top no-repeat #e5b29e;
    min-height: 520px;
    position: relative;
    margin-bottom: 46px;

    &--cut {
      background: url("../img/bg-back-mobile@1x.jpg") center bottom no-repeat #e5b29e;
      min-height: 158px;
    }
  }
}

.photo__text {
  width: 100%;
  margin: 90px auto;

  &--cut {
    margin: 60px auto;
  }
}

@media (min-width: @tablet-width) {
  .photo__text {
    width: 100%;
    margin: 78px auto;

    &--cut {
      margin: 95px auto;
    }
  }
}

.page-main__photo::after {
  position: absolute;
  content: "";
  display: block;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 26.111px;
  background: url("../img/bg-intro-triangle-mobile.svg") right center no-repeat;
}

@media (min-width: @tablet-width) {
  .page-main__photo::after {
    position: absolute;
    content: "";
    display: block;
    right: 220px;
    bottom: 0;
    width: 320px;
    height: 26.111px;
    background: url("../img/bg-intro-triangle-mobile.svg") right center no-repeat;
  }
}
