.photo-list {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    text-align: left;
}
.photo-list__like {
  position: relative;
  padding-left: 37px;
}
.photo-list__like::before {
  position: absolute;
  content: '';
  display: block;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  background: url("../img/icon-like.svg") center center no-repeat;;
}
.photo-list__item {
  padding-top: 23px;
  padding-bottom: 23px;
}
.photo-list__title {
  padding-top: 15px;
}
