.reason__slogan {
  background-color: @background-color-2;
  margin-bottom: 40px;
}
.reason__intro {
  margin-bottom: 30px;
}
.reason__header {
  position: relative;
}
.reason__header::after {
  position: absolute;
  content: '';
  display: block;
  right: 0;
  bottom: -45px;
  width: 320px;
  height: 37px;
  background: url("../img/bg-triangle.svg") right center no-repeat;
}
.reason__block--blue {
  background-color: @background-color-1;
  padding-top: 38px;
  padding-bottom: 38px;
}
.reason__block--grey {
  background-color: @background-color-3;
  padding-top: 30px;
  padding-bottom: 30px;
}
.reason__title {
  padding-bottom: 15px;
}
.reason__number {
  padding-bottom: 17px;
}
