.video__header {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .video {
    margin: 0 60px;
  }

  .video__header {
    margin: 70px auto;
  }

  .video__slogan {
    max-width: 425px;
    margin: auto;
  }
}
